html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#hero-wrapper {
    background-image: url(./background.png);
    background-size: cover;
    background-position: center;
    height: 1024px;
    width: 100%;
}

#navbar {
    display: flex;
    padding: 32px 32px 0px 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 216px;
}

.nav-links {
    display: none;
    gap: 35px;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-btn {
    padding: 9px 27px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

#logo {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: #FFFFFF
}

#white-bar {
    width: 90px;
    height: 15px;
    background-color: #FFFFFF;
}

h1 {
    font-family: "Libre Caslon Display", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
    max-width: 314px;
}

#header-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 32px;
}

#info-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 314px;
}

@media screen and (min-width: 744px) {
    h1 {
        max-width: 600px;
        font-size: 70px;
        font-weight: 400;
        line-height: 87px;
    }

    #info-text {
        max-width: 528px;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        max-width: 748px;
        font-size: 80px;
        font-weight: 400;
        line-height: 99px;
    }

    .nav-links {
        display: flex;
    }

    #menu-icon {
        display: none;
    }
}

#learn-more-btn {
    width: 153px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 11px 28px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

#news-section-title {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;
    margin: 78px 0;
}

@media screen and (min-width: 744px) {
    #news-section-title {
        margin: 89px auto 56px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }
}

@media screen and (min-width: 1440px) {
    #news-section-title {
        margin: 89px auto 44px;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
    }
}



#news-card-wrapper {
    margin: 0 32px;
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

@media screen and (min-width: 744px) {
    #news-card-wrapper {
        margin: 0 72px;
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    #news-card-wrapper {
        gap: 20px;
    }
}

.news-card {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    flex-basis: 100%;
}

@media screen and (min-width: 744px) {
    .news-card {
        flex-basis: calc((100% - 48px) / 3);
    }
}



@media screen and (min-width: 744px) {

}

.news-image > img {
    width: 100%;
    height: 352px;
    object-fit: cover;
    border-radius: 4px;
}

.text-wrapper {
    height: 288px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 744px) {
    .text-wrapper {
        height: 296px;
    }
}

.date-published {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #B7B7B7;
}

.news-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000
}

@media screen and (min-width: 744px) {
    .news-title {
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;

    }
    .date-published {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
    }
    
}

@media screen and (min-width: 1440px) {
    .news-title {
        font-size: 25px;
        line-height: 30px;
    }
    .date-published {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }
}

.news-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    align-self: flex-end;
    text-decoration: none;
    color: #D9852C;
}

a:hover {
    cursor: pointer;
}